---
title: Page Not Found
permalink: 404.html
---

{% include header %}

<section class="w10 center">
    <div class="w5 center">
        <article class="card foreground wrapper-vertical slidein1">
            <div class="p3 margin-below wrapper-vertical left">
                <h3>Page Not Found</h3>
                <p>The page you requested doesn't exist. Click below to return to the home page.</p>
                <a class="button ripple-button-dark" href="/">Return Home</a>
            </div>
            <div class="center">
                <img class="w5" src="/assets/images/Finished_Fox.PNG">
            </div>
        </article>
    </div>
</section>

{% include footer %}