---
index: true
---

{% include header %}

<section class="center wrapper-vertical">
    <article class="card main w6 foreground slidein1">
        <img class="peeker" src="assets/images/peeker.png">
        <div class="p3 wrapper-vertical margin-below">
            <h2>Welcome!</h2>
            <p>Furs at Riddle is a group of furries attending Embry-Riddle Aeronautical University in Daytona Beach. We enjoy getting together for events such as dinners, movie nights, fur meets, and conventions.</p>
            <div class="wrapper-horizontal">
                <a class="button ripple-button-dark" href="/events">Browse Events</a>&nbsp;
                <a class="button ripple-button-dark" href="/join">Join the Group</a>
            </div>
        </div>
    </article>

    <section class="wrapper-horizontal w10">
        <div class="w4">
            <div class="p1">
                <article class="card w10 foreground slidein1">
                    <div class="p3 wrapper-vertical margin-below">
                        <h2>History</h2>
                        <p>FAR was formed in 2019 and has been growing steadily since. We have around 50 members consisting of active students and alumni. We are not a RSO.</p>
                    </div>
                </article>
            </div>
        </div>

        <div class="w6">
            <div class="p1">
                <article class="card w10 foreground slidein1">
                    <div class="p3 wrapper-vertical margin-below">
                        <h2>Mission</h2>
                        <p>Our mission is to provide a safe and inclusive space for anyone who struggles with self expression, self care, and more. We will be utilizing good public relations, community service, and a good social outreach, allowing people to express themselves in artistic and social ways, leaving a better scene than was left before.</p>
                    </div>
                </article>
            <div>
        </div>
    </section>
</section>

{% include footer %}