---
title: Join
link: join
---

{% include header %}

<section class="center">
    <article class="card w6 foreground slidein1">
        <div class="p3 wrapper-vertical margin-below left">
            <h2>Join Our Community</h2>
            <p>Anyone can join Furs at Riddle! All you have to do is be interested in furries.</p>
            <p>To get involved, make sure to follow our <a href="/rules" target="_blank">rules</a>. Join our Discord or contact us on our socials to join the conversation. We'll greet you and invite you to our chats!</p>

            <div class="wrapper-horizontal left">
                <a style="background:#5865F2" class="button ripple-button-light" href="https://discord.gg/qcD2z3h36a" target="_blank"><i class="fab fa-discord"></i>&nbsp;&nbsp;Discord</a>&nbsp;&nbsp;
                <a style="background:#dd2a7b" class="button ripple-button-light" href="https://instagram.com/fursatriddle" target="_blank"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a>&nbsp;&nbsp;
                <a style="background:#00acee" class="button ripple-button-light" href="https://twitter.com/fursatriddle" target="_blank"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
            </div>
        </div>
    </article>
</section>

{% include footer %}