---
title: Rules
link: rules
---

{% include header %}

<section class="left wrapper-vertical">
    <div class="p2">
        <h2>Rules</h2>
        <p>Breaking any of the rules can and will result in expulsion from the club.</p>
    </div>

    <div class="wrapper-horizontal w10">
        <div class="w5">
            <div class="p2">
                <article class="card w10 foreground slidein1">
                    <div class="p3 wrapper-vertical margin-below left">
                        <h3>General Rules</h3>
                        <ul>
                            <li>No arguments in main chats (move it to DMs)</li>
                            <li>Please be respectful to one another</li>
                            <li>No RPing in the chats, take it to the DMs</li>
                            <li>Please be kind to each other</li>
                            <li>If you have a question about what is and isn't SFW, please DM one of the board members and ask. We are more than happy to help you!</li>
                            <li>If problems do arise, try to resolve them in DMs. If that doesn't help, please bring it to the executive board to be resolved</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>

        <div class="w5">
            <div class="p2">
                <article class="card w10 foreground slidein1">
                    <div class="p3 wrapper-vertical margin-below left">
                        <h3>Red Flags</h3>
                        <p>There will be NONE of the following below occurring in the club:</p>
                        <ul>
                            <li>Stalking other members </li>
                            <li>Harassing other members</li>
                            <li>Racism and Sexism in any regard</li>
                            <li>Posting any NSFW pictures/text/or links in the club chats</li>
                            <li>Forcefully converting others to furries </li>
                            <li>Outing club members as furries to other people </li>
                            <li>Arguing in public about furries</li>
                            <li>Being an ALTFur/Nazi Fur</li>
                            <li>Interacting with ALTFurs/Nazi Furs</li>
                            <li>Breaking the law</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% include footer %}