            <footer class="wrapper-horizontal">
                <div class="w5 wrapper-vertical">
                    <div class="p1 left wrapper-horizontal">
                        <a tooltip="Discord" href="https://discord.gg/qcD2z3h36a" target="_blank"><i class="fab fa-discord"></i></a>&nbsp;&nbsp;
                        <a tooltip="Instagram: @fursatriddle" href="https://instagram.com/fursatriddle" target="_blank"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
                        <a tooltip="Twitter: @fursatriddle" href="https://twitter.com/fursatriddle" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>

                    <div class="p1">
                        <p>Furs at Riddle &copy; {{ year }}</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="/assets/script.js"></script>
    <script src="https://instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</body>

</html>